{% extends "base.html" %}
{% block main %}

<div class="content m-6">

    {% if object %}
    <h1 class='title m-6'>Edit <span>{{object.name}}</span></h1>
    {% else %}
    <h1 class='title m-6'>Add a Finch</h1>
    {% endif %}
    <div class="card p-6">
        <form action="{% url 'finch_create' %}" method="POST">
            {% csrf_token %}
            <table class='table '>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Save it!" class='button is-primary mx-6'>
        </form>
    </div>
</div>
{% endblock %}